<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Mentor Page</title>
    <tr>
        <t><h2 th:text="${fistName}"></h2></t>
        <t><h2 th:text="${lastName}"></h2></t>
        <t><h2 th:text="${age}"></h2></t>
        <t><h2 th:text="${gender}"></h2></t>
    </tr>

</head>
<body>
<tr>
    <t><h2 th:text="${mentor1.firstName}"></h2></t>
    <t><h2 th:text="${mentor1.lastName}"></h2></t>
    <t><h2 th:text="${mentor1.age}"></h2></t>
    <t><h2 th:text="${mentor1.gender}"></h2></t>
</tr>
<tr>
    <t><h2 th:text="${mentor2.firstName}"></h2></t>
    <t><h2 th:text="${mentor2.lastName}"></h2></t>
    <t><h2 th:text="${mentor2.age}"></h2></t>
    <t><h2 th:text="${mentor2.gender}"></h2></t>
</tr>
<tr>
    <t><h2 th:text="${mentor3.firstName}"></h2></t>
    <t><h2 th:text="${mentor3.lastName}"></h2></t>
    <t><h2 th:text="${mentor3.age}"></h2></t>
    <t><h2 th:text="${mentor3.gender}"></h2></t>
</tr>
</body>
</html>