<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bob_R</title>
</head>
<body>

<!--Display Value of model -->
<h2 th:text="${students.get(0).getFistName()}" ></h2>
<h2 th:text="${students.get(0).getLastName()}" ></h2>

<!--Concatenation -->
<h2 th:text="${'Hello'+students.get(0).fistName}"></h2>
<h2 th:text="${students.get(0).fistName+' '+students.get(0).getLastName()}"></h2>


<!--Link -->
<h2>
    <a th:href="@{http://google.com}">Google Page</a>
</h2>
<h2>
    <a th:href="@{/student/welcome}">welcome</a>
</h2>
</body>
</html>